.header-container{
    width: auto;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    background: #333333;
    color: #ffffff;
    text-align: center;
}

.admin{
    color: white;
    padding: 10px;
    margin-top: 5px;
    font-size: 20px;
    padding-right: 30px;
}
.link{
    padding: 15px 20px 10px 10px;
    width: auto;
    height: 50px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.link:hover{
    background-color: rgba(255, 255, 255, 0.227);
}

