.userdetail{
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    margin-left: 25%;
}

.user-detail-label{
    color:rgba(255, 255, 255, 0.59);
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.label-info{
    font-size: 12px;
    margin-left: 5px;
    color: rgba(255, 255, 255, 0.597);
    margin-top: 10px;
}

.label-data{
    font-size: 14px;
    margin-left: 5px;
    padding-left: 15px;
    margin-top: 10px;
    line-height: 40px;
    color: white;
    width: 50%;
    height: 40px;
    border: 0.5px solid rgba(252, 239, 239, 0.5);
    box-sizing: border-box;
    border-radius: 5px;
}